<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPEAKR</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Courgette|Pacifico:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</head>

<body>
    <div class="signup-form">
        <form id="form" action="/signup" method="POST">
            <div class="form-header">
                <h2>speakr</h2>
                <p>Enter a username to get chatting.</p>
            </div>
            <div class="form-group">
                <input id="username" type="text" class="form-control" name="username" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
            </div>
            <div class="text-center small">Please keep in mind that your username will be seen by others.</div>
        </form>
        <div class="text-center small">Already have an account? <a href="/login">Login here</a></div>
    </div>

</body>

</html>